<div id="main">
    <div class="palm-page-header multi-line">
        <div class="palm-page-header-wrapper">
            <div class="icon deviceinfo">
            </div>
            <div class="title">
                PrivateSync
            </div>
        </div>
    </div>

    <div class="palm-group">
        <div class="palm-group-title">Server</div>
        <div class="palm-list">
            <div class="palm-row first last">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id="pim_file" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>
            <!--div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">Username</div>
                        <div id="login" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>
            <div class="palm-row last">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">Password</div>
                        <div id="password" x-mojo-element="PasswordField"></div>
                    </div>
                </div>
            </div -->
        </div>
    </div>

    <div id="sync_now" x-mojo-element="Button"></div>


    <p>
        &copy; 2009 Benjamin Erhart - <a href="http://privatesync.tladesignz.com/">tla.designz</a>
    </p>
    <p>
        Licensed under <a href="http://www.gnu.org/licenses/gpl.html">GNU GPL v3</a>
    </p>
</div>



